.row > div {
  padding: 20px;
  background-color: teal;
  border: 2px solid black;
}
.row > div {
  padding: 20px;
  background-color: brown;
  border: 2px solid orange;
}
.container {
  background-color: grey
}
