div {
    text-align: center;
    }
#top {
    height: 100px;
    width: 50%;
    background: red;
}

#middle {
    height: 300px;
    width: 50%;
    background: yellow;
}

#buttom {
    height: 100px;
    width: 50%;
    background: orange;
}

.name {
    font-weight: bold
}